@charset "utf-8";
/* CSS Document */

/* NAVBAR */
.nav-link {font-family: 'ohno-fatface, serif';
	color: #688E72;
font-size: 35px;
font-style: bold;
	margin-left: 85px;
}
.nav-link:hover {color: #000000;

}

.navbar {font-size: 1.5em
}

/* MAIN */
.portfolio {font-family: 'Abril Fatface', cursive;
	color: #FFFFFF;
	letter-spacing: 0.75em;
	font-size: 90px;
	text-align: center;
}

/* GENERAL */
h1 {font-family: 'Abril Fatface', cursive;}

p {font-family: 'Helvetica';
font-size: 20px;}

h2 {color: #688E72;
}

/* ABOUT */
.h1site { font-size: 6em;
}

.ptekst {font-size: 1.2em;
	font-family: 'Helvetica';
	color: #FFFFFF;
}

/* FONTCOLORS */

html, body {
	 width: 100%;
	 height: 100%;
	 background: linear-gradient(10deg, rgba(243, 186, 202, 1) 75%, rgba(0,0,0,0) 30%);
}
 h1 {
	 font-family: 'Abril Fatface', cursive;
	 text-transform: uppercase;
	 font-size: 10em;
	 text-align: center;
	 line-height: 1;
	 margin: 0;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 position: absolute;
	 color: #FFFFFF;
	 text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, 1px 0px 0px #000000, 0px 1px 0px #000000, 2px 1px 0px #F3BACA, 1px 2px 0px #F3BACA, 3px 2px 0px #FA4EAA, 2px 3px 0px #000000, 4px 3px 0px #000000, 3px 4px 0px #F3BACA, 5px 4px 0px #FA4EAA, 3px 5px 0px #FA4EAA, 6px 5px 0px #FA4EAA, -1px 2px 0 black, 0 3px 0 #688E72, 1px 4px 0 #FA4EAA, 2px 5px 0px #F3BACA, 2px -1px 0 #FA4EAA, 3px 0 0 #FA4EAA, 4px 1px 0 #000000, 5px 2px 0px #F3BACA, 6px 3px 0 #F3BACA, 7px 4px 0 #688E72, 10px 10px 4px #D6CAFF
}
.coltextabout {margin-top: 65px;
	 }

/* FOOTER */

section{
  text-align:center;
}
.footer #button{
	width:35px;
	height:35px;
	border: #000000 6px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #FFFFFF 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #FFFFFF;
}
.footer #cont{
  position:relative;
  top:-110px;
  right:350px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:800px;
	float:left;
  text-align:center;
}
.h3footer{
	font-family: 'ohno-fatface, serif';
	font-size: 30px;
	font-weight: 700;
	font-style: normal;
	margin-top:70px;
	margin-left:40px;
}

.pnumber {margin-bottom: 1.5px;
margin-top: 2px;}

.imgresume {margin-left: 30px;
}

.allimages {margin-top: 110px;}

.img1 {margin-right: 40px;
}

.img2 {
margin-right: 40px;
}

.img3 {
margin-right: 40px;
}

.img4 {
margin-right: 40px;
}

.h1siteresume {
	margin-left: 440px;
}

.h1sitemagazine {margin-top: 250px;
}
.h1book {margin-left: 600px;
	margin-top: 50px;
	font-size: 80px;
}
.bookimg {margin-top: 40px;}
